*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    font-size: 20px;
    font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
}
.container {
    text-align: center;
    display: flex;
    width: 20rem;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    align-content: center;
}
.m-5 {
    margin: 5px 0;
}
.m-b-50 {
    margin-bottom: 50px;
}
.form {
    height: 300px;
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: rgb(250, 249, 250);
    border-radius: 3px;
    font-size: 18px;
}
button {
    font-size: 1rem;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: #6e0460;
    color: white;
    cursor: pointer;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(146, 145, 145, 0.4);
    overflow: scroll;
    display: none;
    z-index: 2;
}
.modal > .modal--box {
    margin-top: 100px;
    font-size: 16px;
}
.modal--box {
    font-size: 14px;
    margin-top: 50px;
    border-radius: 3px;
    height: 200px;
}

.sign--info {
    margin-top: 100px;
    position: relative;
    width: 450px;
    margin:0 auto;
    background: rgb(255, 255, 255);
    padding-top: 50px;
    text-align: center;
    font-size: 16px;
}
.logIn--txt {
    margin-bottom: 5px;
    font-size: 18px;
} 
.signIn--input {
    font-size: 16px;
    padding: 5px 20px;
    width: 350px;
    font-style: italic;
    font-size: 14px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.create--new {
    margin-bottom: 40px;
    padding: 10px 20px;
}

.close {
    color: #353434;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 40px;
    }
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
.fas {
    position: absolute;
    bottom: 8px;
}

.save--btn {
    margin-bottom: 30px;
    padding: 5px 10px;
    width: 120px;
    background-color: #353434;
    color:white;
    border:none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    margin-left: 30px;
}
table, th, tr {
    border: 1px solid black;
    font-size: 16px;
    padding: 8px 50px;
}
th {
    font-weight: normal;
}