<div class="container">
  <div class="form">
    <span class="m-5">Sign In</span>
    <button class="signIn m-5 m-b-50" onclick="openModal('signIn--modal')">Sign In</button>
    <span class="m-5">Or Create New Account</span>
    <button class="signUp m-5" onclick="openModal('register--modal')">New Account</button>
  </div>
</div>
<div style="text-align: center; line-height: 60px; color: <%= statusColor %>"><%= error %><%= success %></div>